@use "../abstract/constant" as *;

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item select {
    background-color: $color-grey;
    border: none;
    border-radius: 20px;
    width: 340px;
    padding: 10px 20px;
    font-size: 1.8rem;
    font-family: 'Jost', Verdana, sans-serif;
}